.*
!.bazelrc
!.bazelversion
!.clang-format
!.gitignore
!.github
!*.yml
bazel-*
!bazel-*.sh
compile_commands.json
perf.data*
build
out
cygwin
CMakeSettings.json

/cmake-build-debug/


# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
